/* common shred style */
*{
     text-align: center;
     
}
.primary-color {
     color: #FD6E0A;
}
.btn-primary {
border-radius: 5px;
background-color: #FD6E0A;
padding: 12px 25px;
border: 0;
font-size: 20px;
font-weight: 700;
color: #fff;
}
.section-tittle{
     font-size: 35px;
     font-weight: 700;
     color: #181818;
     align-items: center;
}
.section-discription{
     color: #757575;
     align-items: center;
     font-size: 18px;

}


/* this is for nav style */
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 200px;
     
}
.nav-tittel {
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav >ul{
     display: flex;
     align-items: center;
     
}
nav li{
     list-style: none;
     margin-right: 50px;
}
nav a{
     text-decoration: none;
     color: #474747;
}
/* this is header style */
.header{
   background-color: #FFF8F3;
   background-image: url(/resorses/header_bg.png); 
   background-repeat: no-repeat; 
   background-position: bottom right    ;
}
/* this is banner style */
.banner{
     padding: 30px 30px 0px 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.banner .profile-pic{
     width: 500px;
}
.banner-content{

}
.banner-greeting{
font-size: 45px;
color: #474747;
margin-bottom: 0;
}
.banner-tittel{
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-discription{
     margin-bottom: 5px;
     color: #474747;
     max-width: 585px;
}
/* main section style */


/* this is about section style */
.about{
     padding: 130px;
     background-color: #FFF8F3;
     border-radius: 10px;
     margin: 130px 150px;
}